body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

/* page colors */
.header, .hero, .footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.info, .quote {
  color: #1f2937;
}

.testimony {
  background-color: #e5e7eb;
}


/* padding for the page */
.header, .hero, .information, .testimony, .action, .footer {
  padding: 0 100px;
}


/* header and footer styling */
.header, .footer {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
}


/* button styling */
button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  border: 0;
  padding: 3px 15px;
  font-size: 18px;
}

button:hover {
  background-color: #f9faf8;
  color:#3882f6;
  cursor: pointer;
}


/* hero styling */
.hero {
  display: flex;
  padding: 50px 100px;
  gap: 25px;
  justify-content: space-evenly;
}

.hero-img {
  display: flex;
  flex-basis: 0;
  background-color: darkgray;
  min-width: 400px;
  height: 250px;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
}

.hero-subtext {
  margin: 10px 0 15px 0;
  font-size: 18px;
  color: #e5e7eb;
}


/* information styling */
.information {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}

.card-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 4px solid #3882f6;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  margin-bottom: 50px;
}

.info {
  font-size: 36px;
  font-weight: 800;
}


/* testimony styling */
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 0;
}

.testimony {
  padding: 50px 200px;
}

.author {
  font-weight: 800;
  text-align: end;
}
